<template>
    <div>
        <div id="Show" v-if="header == 'Show'">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <h1>Show All Employee</h1>
                </div>
            </div>
            <br />
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="employee in employees">
                            <td>{{employee.employeeId}}</td>
                            <td>{{employee.employeeName}}</td>
                            <td>{{employee.employeeEmail}}</td>
                            <td>
                                <button type="button" @click="getEmployeById(employee.employeeId,'Edit')" class="btn btn-primary">Edit</button>
                            </td>
                            <td>
                                <button type="button" @click="getEmployeById(employee.employeeId,'Delete')" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">

                <button type="button" class="btn btn-primary btn-block" @click="statusState('Regis')">Insert New Employee</button>

            </div>
        </div>
        <div id="register" v-if="header == 'Regis' || header == 'Edit'">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" v-if="header =='Regis'">
                    <h1>Registration Page</h1>

                </div>
                <div class="col-md-8 text-center" v-if="header =='Edit'">
                    <h1>Edit Page</h1>
                </div>

            </div>
            <br />
            
            <form method="post">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6">
                        <label for="Name">Name</label>
                        <input class="form-control" id="Name" type="text" v-validate="'required|min:4'" v-model="newEmployee.employeeName" name="EmployeeName" />
                        <span class="field-validation-error" id="Name" v-if="errors.has('EmployeeName')">
                            {{errors.first('EmployeeName')}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6">
                        <label for="Email">Email</label>
                        <input class="form-control" id="Email" type="text" v-validate="'required|email'" v-model="newEmployee.employeeEmail" name="EmployeeEmail" />
                        <span class="field-validation-error" id="Email" v-if="errors.has('EmployeeEmail')">
                            {{errors.first('EmployeeEmail')}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6">
                        <label for="Password">Password</label>
                        <input class="form-control" id="Password" type="password" v-validate="'required|min:4'" v-model="newEmployee.employeePassword" name="EmployeePassword" />
                        <span class="field-validation-error" id="Password" v-if="errors.has('EmployeePassword')">
                            {{errors.first('EmployeePassword')}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" v-if="header == 'Regis'">
                        <button class="btn btn-primary btn-block" @click="insertNewEmployee()" type="button">Register</button>
                    </div>
                    <div class="col-md-6" v-if="header == 'Edit'">

                        <button class="btn btn-primary btn-block" @click="editEmployee()" type="button">Edit</button>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button class="btn btn-warning btn-block" @click="statusState('Show')" type="button">Show All Employee</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="DeleteEmployee" v-if="header == 'Delete'">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <h1>Delete Page</h1>
                </div>
            </div>
            <div class="row">
                <h4>Employee Details</h4>
            </div>
            <div class="row">
                <h6>Id : {{newEmployee.employeeId}}</h6>
            </div>
            <div class="row">
                <h6>Name : {{newEmployee.employeeName}}</h6>
            </div>
            <div class="row">
                <h6>Email : {{newEmployee.employeeEmail}}</h6>
            </div>
            <br />
            <div class="row">
                Are you sure delete this employee?
            </div>
            <div class="row">

                <button class="btn btn-danger" type="button" @click="deleteEmployee(newEmployee.employeeId)">Delete</button>
                <button class="btn btn-warning" @click="statusState('Show')" type="button">Show All Employee</button>

            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { ServiceSingelton } from '../../services/EmployeeService';
    import { IEmployeeModel } from '../../models/IEmployeeModel';
import { __await } from 'tslib';
    @Component({
        created: async function (this: Auth) {
            await this.initialize();
        }
    })
    export default class Auth extends Vue {
        newEmployee: IEmployeeModel = {};
        
        employeeService = ServiceSingelton;
        header: string = "";

        async validate() {
            let valid = await this.$validator.validateScopes();
            if (valid === false) {
                return false;
            }
            await this.$validator.reset();
            return true;
        }
        async initialize() {
            this.header = "Show";
            await this.employeeService.getAllEmployee();
        }
        get employees() {
            return this.employeeService.employees;
        }
        get employee() {
            return this.employeeService.employee;
        }
        async getEmployeById(id: number, target: string) {
            await this.employeeService.getEmployee(id);
            this.header = target;
            this.newEmployee = this.employee;
        }
        async statusState(target: string) {
            this.header = target;
            this.newEmployee = {};
            
        }
        async insertNewEmployee() {
            let valid = await this.validate();
            if (valid === false) {
                return;
            }
            await this.employeeService.insertEmployee(this.newEmployee);
            await this.initialize();

        }
        async editEmployee() {
            let valid = await this.validate();
            if (valid === false) {
                return;
            }
            
            await this.employeeService.editEmployee(this.newEmployee);
            await this.initialize();
        }
        async deleteEmployee(id: number) {
            await this.employeeService.deleteEmployee(id);
            await this.initialize();
        }
    }
</script>
